.bg-header {
    background-color: rgb(255, 255, 255);
}

/* .stick {
    display: inline-block;
    position: sticky;
    top: 200px;
} */

.gochi-hand {
    font-family: 'Gochi Hand', cursive;
}

.bg-elephant {
    background-color: rgb(248, 212, 212);
}

.bg-light-gray {
    background-color: rgb(209, 205, 205);
}

.header-text {
    font-size: 48px;
    color: #f10a6b;
}

.logo-img {
    height: 200px;
}

.logo-img-tiny {
    height: 100px;
}